/*FONTS*/

/*FIRST PAGE*/
html {
    height: 100%;
}

body {
    min-height: 100%;
}

/*HOMEPAGE HEADINGS*/

#firstpagesection {
background-color:#1F75FE;
height: 100%;
}

.hidden {
    display: none;
}


.title-container {
     display: flex;
  text-align: center;
  align-items: center; ; 
  justify-content: center;
}

.row {
    margin: 0;
}

#titleone {
    font-size: 40px;
 font-family: bungee, sans-serif;
font-weight: 500;
font-style: normal;
line-height: 35px;
color: #000950;
}

#ultimate {
    font-size: 90px;
    line-height: 90px;
    font-family: bungee, sans-serif;
font-weight: 800;
font-style: normal;
color: white;
}

#knowledge {
    font-size: 40px;
    font-family: bungee, sans-serif;
font-weight: 400;
font-style: normal;
color: #000950;
}

#quiz {
    font-size: 40px;
    font-family: bungee, sans-serif;
font-weight: 400;
font-style: normal;
line-height: 25px;
color: #000950;
}

/*BUTTONS SECTION*/

#buttonsdiv {
    max-width: 100%;
    height: 375px;
    background-color: #ACE5EE;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 50px;
}

.icons-wrapper {
display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#volume-button,
#playeasy-button,
#playhard-button,
#question-button {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
}

/*ICONS*/
#playeasy-icon {
    padding-top: 25px;
}

#playhard-icon {
    padding-top: 25px;
}

#question-icon {
    padding-top: 25px;
}


.icontext {
    font-size: 17px;
    font-family: bungee, sans-serif;
}

/*Modal*/
.modal-content {
    background-color:#ACE5EE;
}

.modal-title {
    font-family: bungee, sans-serif;
    font-weight: 800;
}

.modalsubheading {
    font-family: bungee, sans-serif;
}

.modalparagraph {
    font-family: monospace;
}

#close-button {
    background-color: #1F75FE;
    box-shadow: 2px;
    font-family: monospace;
}

/*SECONDPAGE*/
#secondpagesection {
    background-color: #262934;
}

/*Buttons*/
.vol-img {
    margin-top: 25px;
}

.small {
    height: 50px;
    width: 50px;
}

#headervolbtn {
 background:none;
    border: none;
    margin-left: 10px;
}

#homebtn {
   float: right;
   background: none;
   border: none;
   margin-top: 25px;
    margin-right: 10px;
}

/*Question*/

#questiondiv {
    text-align: center;
    margin-top: 10px;
}

#question {
font-size: 32px;
color: lightgray;
font-family: bungee, sans-serif;
font-weight: 500;
}

/*Timer*/
#timer {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #ACE5EE; 
    text-align: center;  
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#timerCountdown {
    padding-top: 15px;
    font-size: 36px;
    font-weight: bold;
}

/*Answers*/
#answersdiv {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.answers-wrapper {
display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.answer-button {
    width: 400px;
    height: 300px;
    border-radius: 25px;
    color: white;
    font-size: 30px;
    font-family: bungee, sans-serif;
}

#answersbutton-1 {
    background-color: lightskyblue;
}

#answersbutton-2 {
    background-color: pink;
}

#answersbutton-3 {
    background-color: blue;
}

#answersbutton-4 {
    background-color: purple;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

#next-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#next-button {
    background-color: lightgray;
    width: 110px;
    height: 55px;
    border-radius: 15px;
    font-family: bungee, sans-serif;
font-weight: 500;
font-size: 32px;
}
