/*FONTS*/

/*FIRST PAGE*/

/*HOMEPAGE HEADINGS*/

body {
background-color:#1F75FE;
}

.title-container {
     display: flex;
  text-align: center;
  align-items: center; ; 
  justify-content: center;
}

.row {
    margin: 0;
}

#titleone {
    font-size: 40px;
 font-family: bungee, sans-serif;
font-weight: 500;
font-style: normal;
line-height: 35px;
color: #000950;
}

#ultimate {
    font-size: 90px;
    line-height: 90px;
    font-family: bungee, sans-serif;
font-weight: 800;
font-style: normal;
color: white;
}

#knowledge {
    font-size: 40px;
    font-family: bungee, sans-serif;
font-weight: 400;
font-style: normal;
color: #000950;
}

#quiz {
    font-size: 40px;
    font-family: bungee, sans-serif;
font-weight: 400;
font-style: normal;
line-height: 25px;
color: #000950;
}

/*BUTTONS SECTION*/

#buttonsdiv {
    max-width: 100%;
    height: 375px;
    background-color: #ACE5EE;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 30px;
}

.icons-wrapper {
display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.square {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
}

/*ICONS*/

.fa-volume-up {
   padding-top: 25px;  
}

#playeasy-icon {
    padding-top: 25px;
}

#playhard-icon {
    padding-top: 25px;
}

#question-icon {
    padding-top: 25px;
}


.icontext {
    font-size: 17px;
    font-family: bungee, sans-serif
}

